<div id="contact-request-form" class="center-min-width gray-border whiteSmokeBg">
  <% if flash[:notice] %>
    <div class="alert alert-success">
  	  <%= notice %>
    </div>
  <% end %>
  <%= form_for(@contact_request) do |f| %>
    <% if @contact_request.errors.any? %>
      <div id="error_explanation" class="alert alert-error">
        <h3>
          <%= pluralize(@contact_request.errors.count, "error") %> prohibit this contact request from being saved:
		</h3>
  
        <ul>
        <% @contact_request.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="field two-wide">
      <%= f.label :first_name, "First Name*" %>
      <%= f.text_field :first_name, :class => "" %>
    </div>
    <div class="field field-margin-top">
      <%= f.label :last_name %>
      <%= f.text_field :last_name, :class => "" %>
    </div>
    <div class="clear" ></div>
    <div class="field field-margin-top two-wide">
      <%= f.label :email, "Email*" %>
      <%= f.text_field :email, :class => "" %>
    </div>
    <div class="field field-margin-top">
      <%= f.label :phone_number, "Phone number, extention is optional" %>
      <%= f.text_field :phone_number, :class => "" %>
    </div>
    <div class="field field-margin-top">
      <%= f.label :message, "Message*" %>
      <%= f.text_area :message, :rows => 15, :cols => 55, :class => "text-area" %>
    </div>
    <div class="actions field field-margin-top">
      <% f.submit "Submit", :class => "" %>
      <%= button_tag(:type => 'submit', :class => "btn") do %>
        <%= content_tag(:span, 'Submit', :class => "") %>
    <% end %> 
    </div>
  <% end %>
</div>
