<div id="contact-request-form" class="center-min-width gray-border">
  <%= form_for(@contact_request) do |f| %>
    <% if @contact_request.errors.any? %>
      <div id="error_explanation" class="ui-state-error ui-corner-all">
        <h2>
          <span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
          <%= pluralize(@contact_request.errors.count, "error") %> prohibited this contact request from being saved:</h2>
  
        <ul>
        <% @contact_request.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="crf-field two-wide">
      <%= f.label :first_name, "First Name*" %>
      <%= f.text_field :first_name, :class => "" %>
    </div>
    <div class="crf-field">
      <%= f.label :last_name %>
      <%= f.text_field :last_name, :class => "" %>
    </div>
    <div class="clear" ></div>
    <div class="crf-field">
      <%= f.label :message, "Message*" %>
      <%= f.text_area :message, :rows => 15, :cols => 55, :class => "" %>
    </div>
    <div class="actions">
      <% f.submit "Submit", :class => "" %>
      <%= button_tag(:type => 'submit', :class => "btn") do %>
        <%= content_tag(:span, 'Submit', :class => "") %>
    <% end %> 
    </div>
  <% end %>
</div>
