<div id="contact-request-form" class="center-min-width gray-border">
  <%= form_for(@contact_request) do |f| %>
    <% if @contact_request.errors.any? %>
      <div id="error_explanation" class="ui-state-error ui-corner-all">
        <h2>
          <span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
          <%= pluralize(@contact_request.errors.count, "error") %> prohibited this contact request from being saved:</h2>
  
        <ul>
        <% @contact_request.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="field two-wide">
      <%= f.label :first_name, "First Name*" %><br />
      <%= f.text_field :first_name, :class => "input" %>
    </div>
    <div class="field">
      <%= f.label :last_name %><br />
      <%= f.text_field :last_name, :class => "input" %>
    </div>
    <div class="clear" ></div>
    <div class="field">
      <%= f.label :message, "Message*" %><br />
      <%= f.text_area :message, :rows => 15, :cols => 55, :class => "input" %>
    </div>
    <div class="actions">
      <% f.submit "Submit", :class => "ui-button ui-button-text-only ui-widget ui-state-default ui-corner-all" %>
      <%= button_tag(:type => 'submit', :class => "ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-priority-primary jui-font") do %>
        <%= content_tag(:span, 'Submit', :class => "ui-button-text jui-font") %>
    <% end %> 
    </div>
  <% end %>
</div>
