<h1>Listing gallery_types</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @gallery_types.each do |gallery_type| %>
  <tr>
    <td><%= gallery_type.name %></td>
    <td><%= link_to 'Show', gallery_type %></td>
    <td><%= link_to 'Edit', edit_gallery_type_path(gallery_type) %></td>
    <td><%= link_to 'Destroy', gallery_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Gallery type', new_gallery_type_path %>
