<% content_for :head do %>
  <title>Home - Bridal Kaleidoscope</title>
<% end %>
<div id='main-image'>
  <%= image_tag "home/p01.jpg" %>
</div>

<!-- "previous page" action -->
<a class="prev browse left"></a>

<!-- root element for scrollable -->
<div class="scrollable" id='browsable'>   

   <!-- root element for the items -->
   <div class="items">
      <div>
        <%= link_to("#promo1", :class => 'fancybox') do %>
          <%= image_tag "home/promo1.jpg" %>
        <% end %>
        <%= link_to("#promo2", :class => 'fancybox') do %>
          <%= image_tag "home/promo2.jpg" %>
        <% end %>
        <%= link_to("#promo3", :class => 'fancybox') do %>
          <%= image_tag "home/promo3.jpg" %>
        <% end %>
      </div>
      <div>
        <%= link_to("#promo2", :class => 'fancybox') do %>
          <%= image_tag "home/promo2.jpg" %>
        <% end %>
        <%= link_to("#promo3", :class => 'fancybox') do %>
          <%= image_tag "home/promo3.jpg" %>
        <% end %>
        <%= link_to("#promo4", :class => 'fancybox') do %>
          <%= image_tag "home/promo4.jpg" %>
        <% end %>
      </div>
        
    </div>
 </div>
<!-- "next page" action -->
<a class="next browse right"></a>

<!-- wrapper for navigator elements -->
<div class="navi"></div>

<div id="promo1" style="width: 400px; display: none; ">
  <h3>Our Special</h3>
  <p>
    Book Photo and Video together and receive $ 250 OFF
  </p>
</div>

<div id="promo2" style="width: 400px; display: none; ">
  <h3>Party Photo Booth</h3>
  <p>
    Fun Props
    <br/>
    Unlimited use for Guests
    <br/>
    Online Gallery of images
    <br/>
    $ 475.00 (with photography package)
  </p>
</div>

<div id="promo3" style="width: 400px; display: none; ">
  <h3>Photo Session</h3>
  <p>
    Weekday session (studio and/or around):
    <br/>
    (Enhanced downloadable images with printing rights)
    <br/>
    $ 75    1/2 hour -up to 15 images
    <br/>
    $ 125   1 hour- up to 30 images
    <br/>
    Mini session -$ 55 - up to 5 images (1 outfit/ 1 background)
    <br/>
    Refer your friend to us and both receive $ 25 off for your next session. 
  </p>
</div>

<div id="promo4" style="width: 400px; display: none; ">
  <h3>Referral Program</h3>
  <p>
    Refer a Friend to us for wedding services and
    Receive $ 50 check for each booking and your friend receives $ 50 credit for postproduction services. Must be mention before booking.
  </p>
</div>
