<% content_for :head do %>
  <title>Home - Bridal Kaleidoscope</title>
<% end %>
<div id='main-image'>
  <%= image_tag "home/p01.jpg" %>
</div>

<!-- "previous page" action -->
<a class="prev browse left"></a>

<!-- root element for scrollable -->
<div class="scrollable" id='browsable'>   

   <!-- root element for the items -->
   <div class="items">
      <div>
        <%= link_to("#promo1", :class => 'fancybox') do %>
          <%= image_tag "home/promo1.jpg" %>
        <% end %>
        <%= link_to("#promo2", :class => 'fancybox') do %>
          <%= image_tag "home/promo2.jpg" %>
        <% end %>
        <%= link_to("#promo3", :class => 'fancybox') do %>
          <%= image_tag "home/promo3.jpg" %>
        <% end %>
      </div>
      <div>
        <%= link_to("#promo2", :class => 'fancybox') do %>
          <%= image_tag "home/promo2.jpg" %>
        <% end %>
        <%= link_to("#promo3", :class => 'fancybox') do %>
          <%= image_tag "home/promo3.jpg" %>
        <% end %>
        <%= link_to("#promo4", :class => 'fancybox') do %>
          <%= image_tag "home/promo4.jpg" %>
        <% end %>
      </div>
        
    </div>
 </div>
<!-- "next page" action -->
<a class="next browse right"></a>

<!-- wrapper for navigator elements -->
<div class="navi"></div>

<div id="promo1" style="width: 400px; display: none; ">
  <h3>Our Special</h3>
  <p>
    Book Photo and Video together and receive $ 250 OFF
  </p>
</div>

<div id="promo2" style="width: 400px; display: none; ">
  <h3>Party Photo Booth</h3>
  <p>
    Fun Props
    <br/>
    Unlimited use for Guests
    <br/>
    Online Gallery of images
    <br/>
    $ 475.00 (with photography package)
  </p>
</div>

<div id="promo3" style="width: 500px; display: none; ">
  <h3>Photo Session</h3>
  <p>
    <b>Full Session $ 250</b>
    <br/>
    1-1.5 Hour Session
    <br/>
    25+ High Resolution Images Delivered via Google Download
    <br/>
    Print Release
    <br/>
    <ul>
      <li>Ideal for Maternity, Children, High School Seniors and Families (up to 5 people, each additional person $ 20).</li>
    </ul>
    <br/>
    <b>Mini Session $175</b>
    <br/>
    20 minute session
    <br/>
    10 High Resolution Images Delivered via Google Download
    <br/>
    Print Release
  </p>
</div>

<div id="promo4" style="width: 400px; display: none; ">
  <h3>Referral Program</h3>
  <p>
    Refer a Friend to us for wedding services and
    Receive $ 50 check for each booking and your friend receives $ 50 credit for postproduction services. Must be mention before booking.
  </p>
</div>

<div id="social" style="padding: 40px 0 40px 0">
  <div id="social-inner" style="margin: 0 auto; width: 200px; " >
    <div style="display: inline-block;">
      <%= link_to 'https://www.facebook.com/Bridal-Kaleidoscope-wedding-photography-and-video-169535185093' do %>
        <%= image_tag "home/facebook.svg" %>
      <% end %>
    </div>
    <div style="display: inline-block;">
      <%= link_to 'https://www.instagram.com/bridalkaleidoscope/?hl=en' do %>
        <%= image_tag "home/instagram.svg" %>
      <% end %>
    </div>
    <div style="display: inline-block;">
      <%= link_to 'https://plus.google.com/109428228161434047267' do %>
        <%= image_tag "home/google-plus.svg" %>
      <% end %>
    </div>
    <div style="display: inline-block;">
      <%= link_to 'https://vimeo.com/user15855989' do %>
        <%= image_tag "home/vimeo.svg" %>
      <% end %>
    </div>
    <div style="display: inline-block;">
      <%= link_to 'https://www.pinterest.com/olena555/' do %>
        <%= image_tag "home/pinterest.svg" %>
      <% end %>
    </div>
  </div>
</div>
