<div id="form-heading"><p>Please Fill out the form below to download the prices</p></div>
<div id="request-form" class="gray-border center">
  <%= form_for(@request) do |f| %>
  <% if @request.errors.any? %>
  <div id="error_explanation" class="ui-state-error ui-corner-all">
    <h2>
      <span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
      <%= pluralize(@request.errors.count, "error") %> prohibited this request from being saved:</h2>
    <ul>
      <% @request.errors.full_messages.each do |msg| %>
      <li>
        <%= msg %>
      </li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <div id="required-info">
    * indicates required
  </div>
  <div id="bride-info" class="ui-widget-header ui-tabs ui-widget ui-widget-content" >Bride Info</div>
  <div class="field two-wide">
    <%= f.label :first_name, "First Name*" %>
    <br />
    <%= f.text_field :first_name, :class => "input" %>
  </div>
  <div class="field">
    <%= f.label :last_name %>
    <br />
    <%= f.text_field :last_name, :class => "input" %>
  </div>
  <div class="clear" ></div>
  <div class="field two-wide">
    <%= f.label :email, "Email*" %>
    <br />
    <%= f.text_field :email, :class => "input" %>
  </div>
  <div class="field">
    <%= f.label :phone %>
    <br />
    <%= f.text_field :phone, :class => "input" %>
  </div>
  <div class="clear" ></div>
  <div class="field">
    <%= f.label :zip_code %>*
    <br />
    <%= f.number_field :zip_code, :class => "input" %>
  </div>
  <div id="bride-info" class="ui-widget-header ui-tabs ui-widget ui-widget-content" >Wedding Info</div>
  <div class="field two-wide">
    <%= f.label :wedding_date %>*
    <br />
    <%= f.text_field :wedding_date, :class => "input" %>
  </div>
  <div class="field">
    <%= f.label :wedding_location %>
    <br />
    <%= f.text_field :wedding_location, :class => "input" %>
  </div>
  <div class="field two-wide">
    <%= f.label :ceremony_venue %>
    <br />
    <%= f.text_field :ceremony_venue, :class => "input" %>
  </div>
  <div class="field">
    <%= f.label :reception_venue %>
    <br />
    <%= f.text_field :reception_venue, :class => "input" %>
  </div>
  <div class="field two-wide">
    <%= f.label :referent, "Referent*" %>
    <br />
    <%= f.select :referent, @referent_options, :class => "select", :include_blank => true  %>
  </div>
  <div class="field">
    <%= f.label :referent_name %>
    <br />
    <%= f.text_field :referent_name, :class => "input" %>
  </div>
  <div class="field">
    <%= f.label :message %>
    <br />
    <%= f.text_area :message, :rows => 5, :cols => 65, :class => "input" %>
  </div>
  <div id="submit-button" class="actions">
    <% f.submit "Submit", :class => "ui-button ui-button-text-only ui-widget ui-state-default ui-corner-all" %>
    <%= button_tag(:type => 'submit', :class => "ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-priority-primary jui-font") do %>
      <%= content_tag(:span, 'Submit', :class => "ui-button-text jui-font") %>
    <% end %> 
  </div>
  <% end %>
</div>