<% content_for :head do %>
  <title>Download Prices - Bridal Kaleidoscope</title>
<% end %>
<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'requests/requests' %>
<% end %>
<% content_for :javascripts do %>
  <%= javascript_include_tag 'requests/requests' %>
<% end %>

<% flash.each do |key, msg| %>
    <%= content_tag :div, msg, :class => [key, " message"], :id => "notice" %>
    <%= content_tag :script, :type => "text/javascript" do -%>
        setTimeout("new Effect.Fade('notice');", 1500);
    <% end %>
<% end %>
<!--
<div class="notice">
  <p id="notice"><%= notice %></p>
</div>
-->
<div>View prices here:</div>
<div>Download prices here:</div>