<% content_for :head do %>
  <title>New Request - Bridal Kaleidoscope</title>
<% end %>
<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'requests/requests' %>
  <%= stylesheet_link_tag 'smoothness/jquery-ui-1.8.16.custom.css' %>
<% end %>
<% content_for :javascripts do %>
  <%= javascript_include_tag 'requests/requests' %>
<% end %>

<h1>New request</h1>

<%= render 'form' %>

<%= link_to 'Back', requests_path %>
