<h1>Listing photos</h1>

<table>
  <tr>
    <th>Gallery</th>
    <th>Image</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @photos.each do |photo| %>
  <tr>
    <td><%= photo.gallery_id %></td>
    <td><%= photo.image %></td>
    <td><%= link_to 'Show', ([@gallery, photo]) %></td>
    <td><%= link_to 'Edit', [:edit, @gallery, photo]%></td>
    <td><%= link_to 'Destroy', ([@gallery, photo]), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Photo', new_gallery_photo_path %>
