<% content_for :head do %>
  <title>Galleries - Bridal Kaleidoscope</title>
<% end %>
<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'galleries/galleries' %>
<% end %>
<% content_for :javascripts do %>
  <%= javascript_include_tag 'galleries/galleries' %>
<% end %>
<!--
        link_to(image_path("galleries/1/0001.jpg"), :class => 'thumb gallery-thumb', :name => 'Image 1', :title => 'Title1') do
        image_tag "galleries/1/0001.jpg", :alt =>""
      end>
-->
<div id="page">
  
  
  <div id="container">
    <div class="gallery">
      <%= link_to(image_path("galleries/1/0001.jpg"), :class => '', :name => 'Image 1', :title => 'Title1') do %>
        <%= image_tag "galleries/1/0001.jpg", :alt =>"", :size => "32x32" %>
      <% end %>
      <%= link_to(image_path("galleries/1/0002.jpg"), :class => '', :name => 'Image 2', :title => 'Title1') do %>
        <%= image_tag "galleries/1/0002.jpg", :alt =>"", :size => "32x32" %>
      <% end %>
      <%= link_to(image_path("galleries/1/0003.jpg"), :class => '', :name => 'Image 3', :title => 'Title1') do %>
        <%= image_tag "galleries/1/0003.jpg", :alt =>"", :size => "32x32" %>
      <% end %>
      <%= link_to(image_path("galleries/1/0004.jpg"), :class => '', :name => 'Image 4', :title => 'Title1') do %>
        <%= image_tag "galleries/1/0004.jpg", :alt =>"", :size => "32x32" %>
      <% end %>
      <%= link_to(image_path("galleries/1/0005.jpg"), :class => '', :name => 'Image 5', :title => 'Title1') do %>
        <%= image_tag "galleries/1/0005.jpg", :alt =>"", :size => "32x32" %>
      <% end %>
      <%= link_to(image_path("galleries/1/0006.jpg"), :class => '', :name => 'Image 6', :title => 'Title1') do %>
        <%= image_tag "galleries/1/0006.jpg", :alt =>"", :size => "32x32" %>
      <% end %>
    </div>
  </div>
</div>

