<!DOCTYPE html>
<html>
  <head>
    <% if content_for?(:head) %>
      <%= content_for(:head) %>
    <% else %>
      <title>Bridal Kaleidoscope</title>
    <% end %>
    <%= stylesheet_link_tag "application" %>
    <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/smoothness/jquery-ui.css" %>
    
    <link rel="stylesheet" href="http://mediafront.org/assets/osmplayer/jquery-ui/dark-hive/jquery-ui-1.8.18.custom.css">
    <link rel="stylesheet" href="http://mediafront.org/assets/osmplayer/templates/default/css/osmplayer_default.css">
    
    <%= javascript_include_tag "application" %>
    
    <% javascript_include_tag "http://cdn.jquerytools.org/1.2.6/full/jquery.tools.min.js" %>
    
    <%= csrf_meta_tags %>
    
    <%= render :partial => 'layouts/ga' if Rails.env == 'production' %>
  </head>
  <body>
    <div id='content-all' class='center'>
      <!-- Header -->
      <div id='header' class='center'>
        <div id='top'>
          <div id='logo' class="inline">
             <%= link_to(:controller => '/home', :action => 'index') do %>
              <%= image_tag "logo/png.png", :alt =>"Logo" %>
             <% end %>
          </div>
          <!--
          <div id='login' class="inline">
            <%= form_tag('/login', :id => 'login-form', :class => 'form') do %>
            <%= text_field_tag(:username, 'Username', :class => '.text input', :title => 'Username') %>
            <%= password_field_tag(:password, 'Password', :class => '.text input', :title => 'Password') %>
            <% end %>
          </div>
          -->
        </div>
        <div id='nav'>
          <ul id='nav_items'>
            <li id="home-nav" class=<%= current_page?(:controller => '/home') ? "active" : "default" %> >
              <%= link_to "Home", :controller => '/home', :action => 'index'  %>
            </li>
            <li id="galleries-nav" class=<%= current_page?(:controller => '/galleries') ? "active" : "default" %> >
              <%= link_to "Galleries", galleries_path  %>
            </li>
            <li id="video-nav" class=<%= current_page?(:controller => '/videos') ? "active" : "default" %> >
              <%= link_to "Videos", videos_path  %>
            </li>
            <li id="prices-nav" class= <%= params[:controller] == "/requests" ? "active" : "default" %> >
              <%= link_to "Prices", new_request_path  %>
            </li>
            <li id="contact-us-nav" class=<%= params[:controller] == "/contact_requests" ? "active" : "default" %> >
              <%= link_to "Contact Us", new_contact_request_path  %>
            </li>
            <li id="client-login-nav" class="default" >
              	<%= link_to "Client Login", "http://store.bridalkaleidoscope.com"  %>
              	<!-- <%= link_to "Client Login", galleries_down_path  %> -->
            </li>
            <li id="about-us-nav" class=<%= current_page?(:controller => '/about_us') ? "active" : "default" %> >
              <%= link_to "About Us", about_us_path  %>
            </li>
          </ul>
        </div>
      </div>
      <div class="clear"></div>
      <!-- End Header -->
      <p class="notice"><%= notice %></p>
			<p class="alert"><%= alert %></p>
      <div id='main-content' class='center'>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
