<!DOCTYPE html>
<html>
  <head>
    <% if content_for?(:head) %>
      <%= content_for(:head) %>
    <% else %>
      <title>Bridal Kaleidoscope</title>
    <% end %>
    <%= stylesheet_link_tag    "application" %>
    <%= yield :stylesheets %>
    
    <%= stylesheet_link_tag 'screen.css', :media => 'screen, projection' %>
    <%= stylesheet_link_tag 'print.css', :media => 'print' %> <!--[if IE]><%= stylesheet_link_tag 'ie.css', :media => 'screen, projection' %><![endif]-->
    
    <%= javascript_include_tag "application" %>
    <%= yield :javascripts %>
    
    <% javascript_include_tag "http://cdn.jquerytools.org/1.2.6/full/jquery.tools.min.js" %>
    
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id='content-all' class='center'>
      <!-- Header -->
      <div id='header' class='center'>
        <div id='top'>
          <div id='logo' class="inline">
            <%= link_to(:controller => 'home', :action => 'index') do %>
              <%= image_tag "logo/png.png", :alt =>"Logo" %>
            <% end %>
          </div>
          <!--
          <div id='login' class="inline">
            <%= form_tag('/login', :id => 'login-form', :class => 'form') do %>
            <%= text_field_tag(:username, 'Username', :class => '.text input', :title => 'Username') %>
            <%= password_field_tag(:password, 'Password', :class => '.text input', :title => 'Password') %>
            <% end %>
          </div>
          -->
        </div>
        <div id='nav'>
          <ul id='nav_items'>
            <li class="default">
              <%= link_to "Home", :controller => 'home', :action => 'index'  %>
            </li>
            <li class="default">
              <%= link_to "Galleries", galleries_path  %>
            </li>
            <li class="default">
              <%= link_to "Prices", new_request_path  %>
            </li>
            <li class="default">
              <%= link_to "Contact Us", new_contact_request_path  %>
            </li>
            <li class="default">
              <%= link_to "Client Login", "https://www.bridalkaleidoscope.com/gallery2.3/main.php"  %>
            </li>
            <li class="default">
              <%= link_to "About Us", about_us_path  %>
            </li>
          </ul>
        </div>
      </div>
      <div class="clear"></div>
      <!-- End Header -->
      <div id='main-content' class='center'>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
