<!DOCTYPE html>
<html>
  <head>
    <% if content_for?(:head) %>
      <%= content_for(:head) %>
    <% else %>
      <title>Bridal Kaleidoscope</title>
    <% end %>
    <%= stylesheet_link_tag    "application" %>
    <%= stylesheet_link_tag 'screen.css', :media => 'screen, projection' %>
    <%= stylesheet_link_tag 'print.css', :media => 'print' %> <!--[if IE]><%= stylesheet_link_tag 'ie.css', :media => 'screen, projection' %><![endif]-->
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id='content-all' class='center'>
      <!-- Header -->
      <div id='header' class='center'>
        <div id='top'>
          <div id='logo' class="inline">
            <%= image_tag "logo/png.png" %>
          </div>
          <div id='login' class="inline">
            <%= form_tag('/login', :id => 'login-form', :class => 'form') do %>
            <%= text_field_tag(:username, 'Username', :class => '.text input', :title => 'Username') %>
            <%= password_field_tag(:password, 'Password', :class => '.text input', :title => 'Password') %>
            <% end %>
          </div>
        </div>
        <div id='nav'>
          <ul id='nav_items'>
            <li class="default">
              <a>Home</a>
            </li>
            <li class="default">
              <a>Page2</a>
            </li>
            <li class="default">
              <a>Page3</a>
            </li>
            <li class="default">
              <a>Page4</a>
            </li>
            <li class="default">
              <a>Page5</a>
            </li>
            <li class="default">
              <a>Page6</a>
            </li>
            <li class="default">
              <a>Page7</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="clear"></div>
      <!-- End Header -->
      <div id='main-content' class='center'>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
